*{
  margin: 0;
}

.header{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin:32px 0px;
}
.header img{
  height:50px;
  width:50px;
  margin-right: 16px;
}

.App{
  background-color: #060b22;
  background: rgb(2,0,36);
  background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(8,8,89,1) 78%, rgba(12,62,185,1) 100%);
}

